<section class="resume-section animated fadeIn" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      Juan Fernando
      <span class="text-primary">Espin</span>
    </h1>
    <div class="subheading mb-5">
      Ecuador, Quito · Cdla Ibarra · S41 Oe8-13 y Ermel Fiallo · (+593) 98 302 7404 ·
      <a href="juan_espin1995@hotmail.es">juan_espin1995@hotmail.es</a>
      <div class="mt-0">
        <button class="btn btn-success"><a href="../../../assets/cv/HOJA-DE-VIDA-JULIO-2021-JUAN-ESPIN.pdf" style="color: white; text-decoration: none;" download="CV Juan Espin">DESCARGAR CV</a></button>
      </div>
    </div>
    <h3 class="text-primary">Objetivo Profesional</h3>
    <p class="lead mb-5">Formar parte de un equipo en donde pueda poner en práctica los conocimientos adquiridos
      durante mis años de formación, y así, aumentar mi experiencia en una empresa que me permita crecer personal y
      profesionalmente.</p>
    <div class="social-icons">
      <a class="social-icon" href="https://www.linkedin.com/in/juan-fer/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" href="https://github.com/Jn-Fr" target="_blank"><i
          class="fab fa-github"></i></a>
      <a class="social-icon" href="https://www.instagram.com/jnfrx._/" target="_blank"><i
          class="fab fa-instagram"></i></a>
      <a class="social-icon" href="https://www.facebook.com/JnFr.06/" target="_blank"><i
          class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</section>