<!-- Interests-->
<section class="resume-section animated fadeIn" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5 text-primary">Intereses</h2>
        <h3 class="mb-0">Hobbies</h3>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fa fa-bicycle"></i></li>
            <li class="list-inline-item"><i class="fa fa-basketball-ball" style="color: rgb(255, 115, 0);"></i></li>
            <li class="list-inline-item"><i class="fa fa-guitar" style="color: purple;"></i></li>
            <li class="list-inline-item"><i class="fa fa-film" style="color: blue;"></i></li>
            <li class="list-inline-item"><i class="fa fa-gamepad" style="color: red;"></i></li>
            <li class="list-inline-item"><i class="fa fa-laptop-code" style="color: green;"></i></li>
        </ul>
        <p>
            Aparte de ser un desarrollador de software, disfruto salir al aire libre, hacer ciclismo y jugar baloncesto
            con mi familia y amigos.
        </p>
        <p>
            Cuando no se puede salir al aire libre, practico entonar la guitarra y ver películas de culto y ciencia
            ficción. Además de investigar las nuevas tecnologías que nos ofrece el mundo actual para el desarrollo de
            aplicaciones que logren satisfacer nuestras necesidades.
        </p>
    </div>
</section>