<!-- Education-->
<section class="resume-section animated fadeIn" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5 text-primary">Formación</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Instituto Superior Tecnológico Sucre</h3>
                <div class="subheading mb-3">Tecnología Superior en Desarrollo de Software</div>
                <p>GPA: 8.49</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Noviembre 2017 - Septiembre 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Colegio Fiscal Gonzalo Zaldumbide</h3>
                <div class="subheading mb-3">Bachillerato en Ciencias</div>
                <p>GPA: 8.21</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Septiembre 2012 - Agosto 2017</span></div>
        </div>
    </div>
</section>