<!-- Awards-->
<section class="resume-section animated fadeIn" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5 text-primary">Certificaciones</h2>
        <div class="flex-grow-1">
            <ul class="fa-ul mb-0">
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Desarrollador
                        de aplicaciones móviles</h3>
                    <div class="subheading mb-3">Fundación Carlos Slim</div>
                </li>
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Desarrollador
                        de aplicaciones en la nube</h3>
                    <div class="subheading mb-3">Fundación Carlos Slim</div>
                </li>
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Inspirando al
                        estudio con Google</h3>
                    <div class="subheading mb-3">Progressio</div>
                </li>
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Introducción
                        al Desarrollo Web I</h3>
                    <div class="subheading mb-3">Google</div>
                </li>
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Introducción
                        al Desarrollo Web II</h3>
                    <div class="subheading mb-3">Google</div>
                </li>
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>JavaScript desde cero</h3>
                    <div class="subheading mb-3">EDteam</div>
                </li>
                <li>
                    <h3 class="mb-0"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Angular: De cero a experto (Legacy)</h3>
                    <div class="subheading mb-3">Udemy</div>
                </li>
            </ul>
        </div>
    </div>
</section>