<section class="resume-section animated fadeIn" id="experience">
  <div class="resume-section-content">
    <h2 class="text-primary mb-5">Experiencia Profesional</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Desarrollador de aplicación móvil</h3>
        <div class="subheading mb-3">Consorcio Sur Occidental</div>
        <p>Formé parte del equipo de trabajo del departamento de tecnología para el desarrollo de una aplicación móvil
          dirigida a los despachos de flota de la organización, para ese entonces elaboré las siguientes
          actividades:</p>
        <ul>
          <li>Diseño y elaboración de la base de datos.</li>
          <li>Desarrollo de interfaz gráfica para el usuario.</li>
          <li>Programación del ingreso del usuario a la aplicación.</li>
          <li>Desarrollo del módulo de ingreso de asistencia del personal.</li>
        </ul>
        <p>Pueden descargar la aplicación <a href="../../../assets/app-consorcio/app-debug.apk" download="APK Consorcio Sur Occidental"
            target="_blank">aquí.</a></p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Agosto 2019 - Noviembre 2019</span>
        <hr>
        <img src="./assets/img/Interfaz.jpg" style="width:55%" class="rounded mx-auto d-block animated fadeInRight"
          alt="">
      </div>
    </div>
    <hr>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Desarrollador Web</h3>
        <div class="subheading mb-3">Instituto Superior Tecnológico Sucre</div>
        <p>El sitio web del Instituto Superior Tecnológico Sucre fue desarrollado por un grupo de estudiantes del cual
          formé parte, para ese entonces desarrollé las siguientes actividades: </p>
        <ul>
          <li>Desarrollo Front-End de la página principal.</li>
          <li>Desarrollo Front-End de la página de educación continua.</li>
        </ul>
        <p>Pueden encontrar el sitio web haciendo clic <a href="http://www.tecnologicosucre.edu.ec/page/index.php"
            target="_blank">aquí.</a></p>
        <div class="flex-shrink-0"><span class="text-primary">Diciembre 2020</span></div>
        <hr>
        <img src="./assets/img/web.jpg" style="width:70%" class="img-fluid mx-auto d-block animated fadeInRight" alt="">
      </div>
    </div>
    <hr>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Analista de Sistemas</h3>
        <div class="subheading mb-3">Soluciones Analíticas Intecsoft S.A.</div>
        <p>Formé parte del equipo de analistas en donde elaboré reportes utilizando herramientas de bases de datos y
          atendí requerimientos de clientes manipulando el sistema propio de la empresa llamado Financial, el cual está
          enfocado en llevar el control de Instituciones Financieras dentro y fuera del Ecuador.</p>
        <div class="flex-shrink-0"><span class="text-primary">Julio 2021 - Octubre 2021</span></div>
        <hr>
        <img src="./assets/img/financial.jpg" class="img-fluid mx-auto d-block animated fadeInRight" alt="">
      </div>
    </div>
  </div>
</section>
<hr class="m-0" />